@charset "utf-8";
/* CSS Document */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*RESET OVER*/

body{
	background: url(../img/bbg.jpg) #000 0 0 no-repeat;
	background-size: cover;
	font-family: helvetica,'LiHei Pro','Heiti TC','微軟正黑體';
	min-height: 740px;
	position: absolute;
	width: 100%;
	height: 100%;
}

body::after{
	background: #000;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	content: '';
	-webkit-animation:mymove 1.2s forwards ease-in;
	-ms-animation:mymove 1.2s forwards ease-in;
	-moz-animation:mymove 1.2s forwards ease-in;
	-o-animation:mymove 1.2s forwards ease-in;
	animation:mymove 1.2s forwards ease-in;
}


@-webkit-keyframes mymove
{
    0%{}
    100%{opacity: 0;}
}
@-ms-keyframes mymove
{
    0%{}
    100%{opacity: 0;}
}
@-moz-keyframes mymove
{
    0%{}
    100%{opacity: 0;}
}
@-o-keyframes mymove
{
    0%{}
    100%{opacity: 0;}
}
@keyframes mymove
{
    0%{}
    100%{opacity: 0;}
}

::selection{
	background: #000;
}

.logo{
	background: url(../img/gamenow_logo.png) 0 0 no-repeat;
	width: 431px;
	height: 70px;
	position: absolute;
	top: 15px;
	left: 20px;
	z-index: 1;
}

.title{
	width: 550px;
	color:#fff;
	text-align: center;
	text-shadow: 0 1px 0px #000000;
	position: relative;
	top: 90px;
	margin: auto;
}

.title h1{
	font-size: 102px;
	font-weight: normal;
	line-height: 120px;	
}

.title h2{
	font-size: 35px;
	font-weight: normal;
	line-height: 40px;	
}

.portal{
	text-align: center;
	color:#fff;
	margin-top: 150px;
	text-shadow: 0 1px 0px #000000;
	position: relative;
	z-index: 5;
}

.portal h3{
	font-size: 27px;
	line-height: 50px;
}

.portal h3 a{
	color:#41b111;
	margin-left: 5px;
}
.portal h3 a:hover{
	color:#fff000;
}

.portal li{
	display: inline-block;
	width: 450px;
	height: 270px;
	background: rgba(255,255,255,0.9);
	border-radius:20px ;
	margin: 0 60px;
	font-size: 12px;
	line-height: 20px;
	color:#222;
	text-shadow: 0 0 0 #000;
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	cursor: pointer;
	-webkit-transition:0.2s;
	transition:0.2s;
}

.portal li:hover{
	color:#fff;
	background: #000;
}

.portal li span{
	width: 445px;
	height: 220px;
	display: block;
}

.portal li.channel-yahoo span{
	background: url(../img/channel_yahoo.png) 0 0 no-repeat;
}

.portal li.channel-yahoo:hover span{
	background: url(../img/channel_yahoo.png) 0 -220px no-repeat;
}

.portal li.channel-cht span{
	background: url(../img/channel_cht.png) 0 0 no-repeat;
}

.portal li.channel-cht:hover span{
	background: url(../img/channel_cht.png) 0 -220px no-repeat;
}

.portal li.channel-yahoo:hover{
	background: #fe9f00;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fe9f00), color-stop(100%,#df6000)); 
        background: -webkit-linear-gradient(top, #fe9f00 0%,#df6000 100%);
        background: -ms-linear-gradient(top, #fe9f00 0%,#df6000 100%);
        background: linear-gradient(to bottom, #fe9f00 0%,#df6000 100%);
}

.portal li.channel-cht:hover{
	background: #0073f4;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0073f4), color-stop(100%,#005ac0)); 
        background: -webkit-linear-gradient(top, #0073f4 0%,#005ac0 100%);
        background: -ms-linear-gradient(top, #0073f4 0%,#005ac0 100%);
        background: linear-gradient(to bottom, #0073f4 0%,#005ac0 100%);
}

.footer-covers{
	width: 100%;
	height: 247px;
	position: absolute;
	bottom: 0;
	background: url(../img/game_titles_cover.png) center bottom repeat-x;
}

body::before{
	width: 100%;
	height: 400px;
	position: absolute;
	bottom: 0;
	content: '';
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(70%,rgba(0,0,0,1)));
        background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 70%);
        background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
}

.footer{
	position: absolute;
	bottom: 0;
	color: #fff;
	background: rgba(0, 0, 0, 0.8);
	line-height: 18px;
	text-align: left;
	width: 100%;
	height: 56px;
	z-index: 1;
}

.footer span b{
    display: block;
    color:#fff;
    font-size: 13px;
    font-weight: normal;
}

.footer .links{
	font-size: 18px;
    position: absolute;
    right: 80px;
}


.footer .links_about{
    background:url(../img/ftr_icon01.png) 0 12px no-repeat;
}

.footer .links_dev{
    background:url(../img/ftr_icon02.png) 0 12px no-repeat;
}

.footer .links_sup{
    background:url(../img/ftr_icon03.png) 0 12px no-repeat;
}

.footer .links_fdb{
    background:url(../img/ftr_icon04.png) 0 12px no-repeat;
    display: inline-block;
    color: #ffffff;
    line-height: 56px;
    padding:0 50px 0 35px;
    text-decoration: none;
    cursor: pointer;
}

.footer .links a{
    display: inline-block;
    color: #ffffff;
    line-height: 56px;
    padding:0 50px 0 35px;
    text-decoration: none;
    cursor: pointer;
}

.footer .links a:hover, .footer .links a:focus, .footer .links a.focus,.footer .links_fdb:hover{
    color: #ccc;
}

.footer .country{
	position: absolute;
	right: 0;
	padding: 0;
	margin: 0;
	bottom: 0;
	cursor: pointer;
	height: 56px;
	overflow: hidden;
	width: 100px;
	transition:0.2s;
}

.footer .country:hover{
	height: 112px;
	margin-top: -56px;
	background: #000;
}

.footer .country ul{
	position: absolute;
	bottom: 0;
}

.footer .country li a{
	padding: 0 0 0 45px;
	margin: 0;
	text-decoration: none;
	color:#fff;
	font-size: 18px;
}

.footer .country li a:hover{
	color:#ccc;
}

.footer .country li{
	position: relative;
	line-height: 56px;
	padding: 0;
	margin: 0;
}

.footer .country li::before{
	width: 28px;
	height: 28px;
	border-radius: 50%;
	box-shadow: 0 -1px 1px rgba(0,0,0,0.9) , 0 1px 0 rgba(255,255,255,0.3);
	position: absolute;
	content: '';
	top: 14px;
	left: 10px;
}
.footer .country li.tw::before{
    background: url(../img/flags/taiwan.png) center no-repeat;
}
.footer .country li.us::before{
    background: url(../img/flags/usa.png) center no-repeat;
}


.footer span {
    font-size: 12px;
    display: block;
    padding: 10px 0 0 30px;
}

#uvTab{
	display: none !important;
}

/* scrollbar */

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-track {
    background: transparent;
} 
::-webkit-scrollbar-thumb {
    background-color: rgba(255,255,255,0.2);
    width: 6px;
    height: 6px;
    border-radius:3px ;
}
::-webkit-scrollbar-button {
    display: none;
}
::-webkit-scrollbar-corner {
    background: #000;
}

@media screen and (max-height: 800px) {
  .title{
  	top: 80px;
  }
  .portal{
	margin: 120px 0;
  }
  .portal li{
	width: 375px;
	height: 225px;
	margin: 0 20px;
  }
  .portal li.channel-yahoo span,.portal li.channel-cht span{
	width: 370px;
	height: 180px;
	background-size: 370px 358px;
  }
  .portal li.channel-yahoo:hover span,.portal li.channel-cht:hover span{
	width: 370px;
	height: 180px;
	background-size: 370px 358px;
	background-position: 0 -179px
  }
  .footer-covers{
	background-size: 1280px
    }
}

@media screen and (max-width: 1024px) {
  body{
  	background-size:1000px;
  	background-position: center top;
  	position: absolute;
  	width: 100%;
  	height: 100%;
  	min-height: 1024px
  }
  .logo{
	width: 100%;
	background-position: center;
	left: 0;
  }

  .title{
  	top: 140px;
  }
  .portal{
  	width: 100%;
  	padding: 0;
  	top: 8%;
  }
  .portal ul{
  	width: 100%;
  }
  .portal li{
	width: 49.5%;
	overflow: hidden;
	height: 270px;
	border-radius:0px ;
	margin: 0;
	color:#fff;
  }
  .portal li.channel-yahoo{
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fe9f00), color-stop(100%,#df6000)); 
    background: -webkit-linear-gradient(top, #fe9f00 0%,#df6000 100%);
    background: -ms-linear-gradient(top, #fe9f00 0%,#df6000 100%);
    background: linear-gradient(to bottom, #fe9f00 0%,#df6000 100%);
  }

  .portal li.channel-cht{
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0073f4), color-stop(100%,#005ac0)); 
    background: -webkit-linear-gradient(top, #0073f4 0%,#005ac0 100%);
    background: -ms-linear-gradient(top, #0073f4 0%,#005ac0 100%);
    background: linear-gradient(to bottom, #0073f4 0%,#005ac0 100%);
  }

  .portal li.channel-yahoo span,.portal li.channel-yahoo:hover span,.portal li.channel-cht span,.portal li.channel-cht:hover span{
  	width: 100%;
  	background-position:center bottom;
  }

  .footer-covers{
	width: 100%;
	position: absolute;
	bottom: 300px;
   }

  .footer{
  	position: absolute;
  	height: auto;
  	bottom: 0;
  }
  .footer .links{
	width: 100%;
    right: 0px;
    position: relative;
  }
  .footer .links a,.footer .links_fdb{
	display: block;
	float: none;
	border-bottom: 1px rgba(255,255,255,0.1) solid;
	padding-left: 90px;
	background-position: 50px 12px
  }
  .footer span {
    font-size: 12px;
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }
}

@media screen and (max-width: 568px){
  body{
  	background-size:680px;
  	min-height: 1100px;
  }

  .logo{
	background-size: 50%;
	background-position: top center;
	height: 50px;
  }

  .title{
	width: 100%;
	top: 80px;
  }

  .title h1{
	font-size: 76px;
	line-height: 85px;	
  }
  .title h2{
	font-size: 27px;
	line-height: 35px;	
  }

  .portal{
  	margin-top: 70px;
  }
  .portal h3{
	font-size: 13px;
	line-height: 30px;
  }

  .portal li br{
  	display: none;
  }

  .portal li{
  	width: 45.5%;
	padding: 2%;
	font-size: 18px;
	line-height: 27px;
  }

  .footer-covers{
	background-size: 150%;
	bottom: 380px;
  }
  
  .footer span{
    font-size: 10px;
  }

  .footer .country{
  	display: none;
  }
}

@media screen and (max-width: 360px) {
  body{
  	background-size:690px;
  	min-height: 1060px;
  }

  .logo{
	background-size: 75%
  }

  .title{
	width: 100%;
	top: 140px;
  }
  .title h1{
	font-size: 56px;
	line-height: 60px;	
  }

  .title h2{
	font-size: 20px;
	line-height: 25px;	
  }

  .portal{
  	margin-top: 200px;
  }

  .portal h3{
	font-size: 15px;
	line-height: 35px;
  }
  .portal li{
	width: 47%;
	padding: 1%;
	font-size: 14px;
	line-height: 25px;
  }

  .portal li.channel-yahoo span,.portal li.channel-yahoo:hover span,.portal li.channel-cht span,.portal li.channel-cht:hover span{
  	background-size: 155%;
  	height: 120px;
  }

  .footer .links a,.footer .links_fdb{
	padding-left: 140px;
	background-position: 100px 12px
  }
  .footer-covers{
	bottom: 285px;
  }
}

/* cht page */

body.about-cht{
	background: url(../img/cht_bg.jpg) #000 0 0 no-repeat;
	background-size: cover;
}

body.about-cht::after,body.about-cht::before{
	display: none;
}

.logo-gn{
	background: url(../img/gamenow_logo.png) 20px 15px rgba(0,0,0,0.7) no-repeat;
	width: 100%;
	height: 90px;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
}

.logo-cht{
	position: absolute;
	right: 0;
	top: 0;
	width: 289px;
	height: 74px;
	background: url(../img/logo-cht.png) 0 0 no-repeat;
}

.title-cht{
	width: 580px;
	color:#fff;
	line-height: 50px;
	text-align: center;
	text-shadow: 0 1px 0px #000000;
	position: relative;
	top: 110px;
	margin: auto;
	z-index: 10;
}

.title-cht h2{
	font-size: 30px;
}

.title-cht h1{
	font-size: 80px;
	line-height: 120px;
}

.title-cht h2 span{
   color:#000;
   background: #fff;
   text-shadow: 0 0 0 #fff;
   padding:1px 5px;
   border-radius:5px ;
}

.cover-wall{
	width: 100%;
	background: url(../img/game_title_wall.jpg) 0 0 repeat-x;
	height: 180px;
	position: absolute;
	top: 350px;
}

.joystick{
	background: url(../img/mobile.png) center 0 no-repeat;
	width: 100%;
	height: 666px;
	position: absolute;
	top: 230px;
	text-align: center;
	color:#fff;
}

.joystick .des{
	font-size: 18px;
	line-height: 24px;
	width: 760px;
    background:rgba(0,0,0,0.5);
    margin:485px auto 0;
    padding: 10px;
    border-radius: 5px
}

.store-link{
	position: absolute;
	text-align: center;
	width: 100%;
	top: 150px;
}

.store-link li{
	padding-left: 50px;
}

.store-link .store-apple,.store-link .store-google{
	width: 150px;
	height: 50px;
	display: block;
	border: 1px #ccc solid;
	border-radius: 5px;
	margin:5px auto
}

.store-link .store-apple{
	background: url(../img/icon_appstore.png) 0 0 no-repeat;
}

.store-link .store-google{
	background: url(../img/icon_googleplay.png) 0 0 no-repeat;
}

.store-link .store-hami{
	background: url(../img/icon_hami.png) 0 0 no-repeat;
	width: 106px;
	height: 102px;
	display: block;
	margin:auto
}

.devices{
	width: 1118px;
	background: #fff;
	position: relative;
	margin:655px auto 0;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0,0,0,0.8)
}

.devices h3{
	font-size: 20px;
	line-height: 30px;
	background: #ea5513;
	padding: 0 10px;
	border-radius: 5px;
	display: inline-block;
	color:#fff;
	margin: 15px 35px;
}

.devices ul{
	width: 100%;
	border-top: 1px #acacac solid;
	clear: both;
	padding: 0;
}
.devices ul li{
	width: 20%;
	margin: 0;
	padding: 10px 0;
	text-align: center;
	display: inline-block;
	vertical-align: top;
}

.devices ol{
	border-top: 1px #acacac solid;
	padding: 10px 0 10px 15%;
	margin: 10px 0;
	width: 85%;
}

.devices ol li{
	display: block;
	font-size: 14px;
	line-height: 23px;
	color:#666;
	width: 100%;
	padding: 0;
	margin: 0;
	text-align: left;
	list-style-type:disc;
}

.footer-cht{
	position: relative;
	color: #fff;
	background: rgba(0, 0, 0, 0.8);
	line-height: 18px;
	text-align: left;
	width: 100%;
	height: 65px;
	z-index: 1;
	margin-top: 25px;
	border-top: 1px rgba(255,255,255,0.2) solid;
}
.footer-cht span {
    font-size: 12px;
    display: block;
    padding: 15px 0 0 30px;
}

.footer-cht ul{
	position: absolute;
	top: 5px;
	right: 0;
	margin: 0;
}

.footer-cht li{
	margin: 0;
	padding: 0;
	display: inline-block;
}

@media screen and (max-width: 568px) {
  body.about-cht{
  	background-size: 1200px;
  	background-position: top center;
  }

  .logo-gn{
	background-size: 50%;
	background-position: 5px 5px;
	height: 60px;
	z-index: 5;
  }

  .logo-cht{
	width: 40%;
	height: 60px;
	background-size: 100%;
  }
  .joystick{
  	top: 180px;
  	background-size: 900px;
  	background-position: top center;
  }
  .joystick .des{
	width: 86%;
	padding: 2%;
	font-size: 12px;
	line-height: 16px;
	text-align: left;
	margin-top: 400px;
  }

  .cover-wall{
  	display: none;
  }

  .devices{
	width: 90%;
	margin-top: 600px;
  }

  .title-cht{
	width: 100%;
	line-height: 30px;
	top: 80px;
  }

  .title-cht h2{
	font-size: 15px;
  }

  .title-cht h1{
	font-size: 60px;
	line-height: 75px;
  }
  .devices ul{
  	text-align: center;
  }
  .devices ul li img{
	width: 94%;
	margin: 0 3%;
  }
  .devices ol{
  	border:0px;
  	width: 98%;
  	margin: 0;
  	padding:0 0 0 2%;
  }
  .devices ol li{
	width: 100%;
	font-size: 9px;
	line-height: 15px;
  }
  .footer-cht span{
  	padding:10px 0 0 2%;
  	font-size: 11px;
  }
  .footer-cht ul{
	width: 40%;
  }

  .footer-cht li{
	width: 30%;
	display: inline-block;
  }
  .footer-cht li img{
  	width: 100%;
  }
}

@media screen and (max-width: 360px) {

  .logo-gn{
	height: 40px;
  }

  .logo-cht{
	height: 40px;
  }
  .joystick{
  }
  .joystick .des{
	font-size: 11px;
	line-height: 16px;
  }

  .joystick .des br{
  	display: none;
  }

  .title-cht{
	top: 60px;
  }

  .title-cht h2{
	font-size: 15px;
  }

  .title-cht h1{
	font-size: 48px;
	line-height: 55px;
  }
  .devices ul{
  	text-align: center;
  }
  .devices ul li{
	width: 33%;
  }
  .devices ol{
  	width: 95%;
  	padding:0 0 0 5%;
  }
  .devices ol li{
  	width: 100%;
	font-size: 7.5px;
	line-height: 12px;
  }
  .devices ul li:nth-child(4),.devices ul li:nth-child(5){
  	margin: 0 10px;
  }
  .footer-cht span{
  	font-size: 11px;
  }
  .footer-cht ul{
	position: relative;
	width: 98%;
	left: 2%;
	margin: 0;
  }

  .footer-cht li{
	margin: 0;
	padding: 0;
	display: block;
  }
}
