@charset "utf-8";

body {
	background: #093f65;
	text-align: center;
}

.header .logo ,.header .logo-cht {
	background: transparent \9;
}

.header .logo .logo-ie8 {
  width: 345px;
  height: 55px;
  display: none;
  display: block \9;
}

.header .logo-cht .logo-cht-ie8 {
  width: 235px;
  height: 60px;
  display: none;
  display: block \9;
}

.bg-ie8 {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	display: none;
    display: block \9;
}

.bg-ray {
	background: #093f65 url(../img/congrats-bg.jpg) top center no-repeat;
	background-size: 100% auto;
	height: 750px;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	background: transparent \9;
}

.header {
	background-color: transparent;
}

.title-congrats {
	text-align: center;
	color: #fff;
	border-bottom: 3px #fff solid;
	width: 700px;
	margin: 100px auto 80px;
	padding: 20px 0 30px;
	position: relative;
	z-index: 1;
}

.title-congrats h2 {
	font-size: 53px;
	line-height: 90px;
}

.title-congrats div {
	font-size: 26px;
}

.title-congrats ul li {
	display: inline-block;
	font-size: 27px;
	font-weight: bold;
	margin: 0;
	height: 15px;
}

.title-congrats ul li.slg {
	width: 130px;
	text-align: center;
	position: relative;
	top: -7px;
}

.title-congrats ul li.bdr {
	border-top: 3px #fff solid;
	width: 285px;
}

ul.game-cover {
	background: -webkit-linear-gradient(top, rgba(9,63,101,0) 10%,rgba(9,63,101,1) 90%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to bottom, rgba(9,63,101,0) 10%,rgba(9,63,101,1) 90%); /* W3C */
	position: relative;
	z-index: 1;
}

ul.game-cover li {
	display: inline-block;
	margin-top: 100px;
	color: #fff;
	font-size: 16px;
	line-height: 30px;
	text-align: center;
	width: 160px;
}

ul.game-cover img{
	width: 140px;
	height: auto;
	margin: auto;
	display: block;
	box-shadow: 0 0 3px rgba(0,0,0,.8);
	-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(70%,transparent), color-stop(100%,rgba(0,0,0,0.3)));
}

ul.game-cover span {
	position: relative;
	z-index: 1;
}

.app-donload {
	position: relative;
	z-index: 5;
	width: 700px;
	margin: 120px auto 0;
	color: #fff;
}

.app-donload h2 {
	font-size: 40px;
	line-height: 110px;
	font-weight: bold;
}

.app-donload h2 img {
	float: left;
	margin-right: 10px;
}

.app-donload .store {
	width: 100%;
	position: relative;
	margin-top: 30px;
}

.app-donload .store-apple, .app-donload .store-android {
	width: 365px;
	height: 114px;
	display: block;
	background-color: #073352;
	overflow: hidden;
	border-radius: 5px;
}

.app-donload .store-apple {
	margin-bottom: 5px;
}


.app-donload .store-hami {
	background-color: #073352;
	overflow: hidden;
	border-radius: 5px;
	width: 330px;
	height: 233px;
	position: absolute;
	top: 0;
	right: 0;
}

.app-donload .store-hami .qrcode {
	margin-top: 25px;
}

.app-donload .store-apple img, .app-donload .store-android img {
	width: 100%;
	height: 100%;
}

.bottom-phone {
	max-width: 100%;
	margin: -200px auto -56px
}

.footer {
	background-color: #073352;
	background-color: rgba(7,50,80,.9);
	margin-top: 0;
}


@media screen and (max-width: 1180px) {
	ul.game-cover img {
		width: 120px;
	}

	ul.game-cover li {
		width: 130px;
		font-size: 13px;
	}
}

@media screen and (max-width: 960px) {
    .bg-ray {
    	background-position: center -100px
     }

	ul.game-cover li {
		width: 170px;
		font-size: 16px;
		margin-top: 20px;
	}
}

@media screen and (max-width: 710px) {
    .title-congrats {
	    width: 550px;
    }

    .title-congrats ul li.bdr {
        width: 210px;
    }

    .title-congrats h2 {
        font-size: 42px;
    }

    .title-congrats div {
        font-size: 20px;
    }

    .app-donload {
    	width: 550px;
    	margin-top: 50px;
    }

    .app-donload h2 {
    	font-size: 29px;
    }

    .app-donload .store {
    	margin-top: 10px;
    }

    .app-donload .store-hami .qrcode {
    	display: none;
    }

    .app-donload .store-apple, .app-donload .store-android ,.app-donload .store-hami {
    	width: 100%;
    	height: 100px;
    }

    .app-donload .store-apple img , .app-donload .store-android img {
    	width: auto
    }

    .app-donload .store-hami {
    	position: relative;
    	display: block;
    	margin-top: 5px;
    	margin-bottom: 50px;
    }

    .app-donload .store-hami img {
    	margin-top: 18px;
    }

    .bottom-phone {
    	display: none;
    }
}

@media screen and (max-width: 568px){
	.bg-ray {
    	background-position: center -50px
    }

	ul.game-cover li {
		width: 135px;
		font-size: 13px;
	}
}


@media screen and (max-width: 360px){
	.bg-ray {
    	background-position: center 0px
    }

	.title-congrats {
	    width: 310px;
    }

    .title-congrats ul li.bdr {
        width: 90px;
    }

    .title-congrats {
    	margin: 50px auto 20px;
    }

    .title-congrats h2 {
        font-size: 23px;
        line-height: 55px;
    }

    .title-congrats div {
        font-size: 13px;
        letter-spacing: -1px
    }

    ul.game-cover img {
		width: 120px;
	}

	ul.game-cover li {
		width: 150px;
		font-size: 15px;
	}

	.app-donload {
    	width: 310px;
    	margin-top: 50px;
    }

    .app-donload h2 img {
    	width: 80px;
    }

    .app-donload h2 {
    	font-size: 24px;
    	text-align: left;
    	line-height: 40px;
    }
}